{% extends 'base.html' %}
{% load static %}
{% load my_templatetag %}

{% block head %} 
<!-- DataTables CSS -->
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css'%}" type="text/css">
<!-- DataTables Responsive CSS -->
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.responsive.css'%}" type="text/css">
{% endblock %}

{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Startmin</a>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <!-- Top Navigation: Left Menu -->
    <ul class="nav navbar-nav navbar-left navbar-top-links">
        <li><a href="{% url 'home' %}"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
    </ul>

    <!-- Top Navigation: Right Menu -->
    <ul class="nav navbar-right navbar-top-links">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> {{request.user.username}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="{% url 'admin:index' %}"><i class="fa fa-gear fa-fw"></i>Configuración</a>
                </li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i>Cerrar Sesión</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- Page Content -->
    <div id="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">Proyectos Turisticos</h1>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-body">
                        <div class="row centrar">
                          <div class="col-md-10">
                          </div>
                          <div class="col-md-2">
                            <a class="btn btn-default btn-block boton-agregar-proyecto" href="{% url 'agregarproyecto' %}"> Agregar </a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nombre de Proyecto Turistico</th>
                                        <th>Empresa</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for proyectoTuristico in object_list %}
                                    
                                    <tr>
                                        <td>{{proyectoTuristico.nombreProyectoTuristico}}</td>
                                        <td>{{proyectoTuristico.empresa}}</td>
                                        <td><a class="btn btn-default btn-block" href="{% url 'homeProyecto' idp=proyectoTuristico.id %}"> Ir </a></td>
                                    </tr>
                                    
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive-->
                  </div>
              </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
<!-- DataTables JavaScript -->
<script src="{% static 'js/dataTables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js'%}"></script>
<script type= application/javascript>
    {%if messages%}
        var msg = '';
        {%for message in messages%}
          {% if message.tags %}
            msg += '{{ message }}\n';
          {% endif %}
        {% endfor %}
          alert(msg)
    {% endif %}
  </script>
  <script type= application/javascript>
    {%if form.errors%}
        var errors = '';
        {%for field in form%}
          {% for error in field.errors %}
            errors += '{{ error }}\n';
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          errors += '{{ error }}\n';
        {% endfor %}
          alert(errors)
    {% endif %}
  </script>
{% endblock %}