{% load static %}
{% load my_templatetag %}
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">DECATUR</a>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <!-- Top Navigation: Left Menu -->
    <ul class="nav navbar-nav navbar-left navbar-top-links">
        <li><a href="{% url 'home' %}"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
    </ul>

    <!-- Top Navigation: Right Menu -->
    <ul class="nav navbar-right navbar-top-links">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> {{request.user.username}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil</a>
                </li>
                {% if request.user|has_group:"Configurador del sistema" %} 
                <li><a href="{% url 'admin:index' %}"><i class="fa fa-gear fa-fw"></i>Configuración</a>
                </li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i>Cerrar Sesión</a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Sidebar -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">

            <ul class="nav" id="side-menu">
                <li>
                    <a class="active"></i> Poner algo aqui</a>
                </li>
                <li>
                    <a href="{% url 'homeProyecto' idp=idp %}" class="active"><i class="fa fa-dashboard fa-fw"></i> Proyecto</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i>Inventario<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'gestionarLotes' idp=idp%}">Gestionar Lotes</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i>Facturación<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'caja' idp=idp%}">Caja</a>
                        </li>
                        <li>
                            <a href="">Cuentas bancarias</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i>Monitoreo<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>