{% load static %}
{% load my_templatetag %}
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <!-- Top Navigation: Left Menu -->
    <ul class="nav navbar-nav navbar-left navbar-top-links">
        <li><a href="{% url 'homeProyecto' idp=idp %}"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
    </ul>

    <!-- Top Navigation: Right Menu -->
    <ul class="nav navbar-right navbar-top-links">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> {{request.user.username}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil</a>
                </li>
                {% if request.user|has_group:"Configurador del sistema" %} 
                <li><a href="{% url 'admin:index' %}"><i class="fa fa-gear fa-fw"></i>Configuración</a>
                </li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i>Cerrar Sesión</a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Sidebar -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">

            <ul class="nav" id="side-menu">
                <li>
                    <a href="{% url 'homeProyecto' idp=idp %}"><i class="fa-solid fa-explosion"></i>    Proyecto<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'home'%}">Seleccionar proyecto</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-earth-americas"></i>    Inventario<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'gestionarLotes' idp=idp%}">Lotes</a>
                        </li>
                        <li>
                            <a href="{% url 'historicoVentas' idp=idp%}">Ventas</a>
                        </li>
                        <li>
                            <a href="{% url 'consultarPropietarios' idp=idp%}">Propietarios</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-hand-holding-dollar"></i> Facturación<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'caja' idp=idp%}">Caja</a>
                        </li>
                        <li>
                            <a href="{% url 'cuentas' idp=idp%}">Cuentas bancarias</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-watchman-monitoring"></i>    Monitoreo<span class="fa arrow"></span></a>
                </li>
            </ul>

        </div>
    </div>
</nav>