{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %} {% endblock %}

{% block content %} 
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="form-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Agregar propietario</h3>
        </div>
        <div class="panel-body">
          <form role="form" action="." method="post">
            {% csrf_token %}  
            <fieldset>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <p class="label-form">{{form.dui.label}}</p>
                  {{form.dui|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:00000000-0'}}
                  <div class ="help-block"><p class="text-muted label-help-form">{{form.dui.help_text}}</p></div>
                </div>
                <div class="form-group">
                  <p class="label-form">{{form.nombrePropietario.label}}</p>
                  {{form.nombrePropietario|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese el nombre completo'}}
                  <div class ="help-block"><p class="text-muted label-help-form">{{form.nombrePropietario.help_text}}</p></div>
                </div>
                <div class="form-group">
                  <p class="label-form">{{form.direccion.label}}</p>
                  {{form.direccion|add_class:'form-control'|attr:'autocomplete:off'}}
                  <div class ="help-block"><p class="text-muted label-help-form">{{form.direccion.help_text}}</p></div>
                </div>
                <div class="form-group">
                  <p class="label-form">{{form.profesion.label}}</p>
                  {{form.profesion|add_class:'form-control'|attr:'autocomplete:off'}}
                  <div class ="help-block"><p class="text-muted label-help-form">{{form.profesion.help_text}}</p></div>
                </div>
                <div class="form-group">
                  <p class="label-form">{{form.trabajo.label}}</p>
                  {{form.trabajo|add_class:'form-control'|attr:'autocomplete:off'}}
                  <div class ="help-block"><p class="text-muted label-help-form">{{form.trabajo.help_text}}</p></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <p class="label-form">{{form.direccionTrabajo.label}}</p>
                  {{form.direccionTrabajo|add_class:'form-control'|attr:'autocomplete:off'}}
                  <div class ="help-block"><p class="text-muted label-help-form">{{form.direccionTrabajo.help_text}}</p></div>
                </div>
                <div class="form-group">
                  <p class="label-form">{{form.telefonoTrabajo.label}}</p>
                  {{form.telefonoTrabajo|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:0000-0000'}}
                  <div class ="help-block"><p class="text-muted label-help-form">{{form.telefonoTrabajo.help_text}}</p></div>
                </div>
                <div class="form-group">
                  <p class="label-form">{{form.telefonoCasa.label}}</p>
                  {{form.telefonoCasa|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:0000-0000'}}
                  <div class ="help-block"><p class="text-muted label-help-form">{{form.telefonoCasa.help_text}}</p></div>
                </div>
                <div class="form-group">
                  <p class="label-form">{{form.telefonoCelular.label}}</p>
                  {{form.telefonoCelular|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:0000-0000'}}
                  <div class ="help-block"><p class="text-muted label-help-form">{{form.telefonoCelular.help_text}}</p></div>
                </div>
                <div class="form-group">
                  <p class="label-form">{{form.correoElectronico.label}}</p>
                  {{form.correoElectronico|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:ejemplo@ejemplo.com'}}
                  <div class ="help-block"><p class="text-muted label-help-form">{{form.correoElectronico.help_text}}</p></div>
                </div>
              </div>
            </div>
            </fieldset>
            <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block"> Agregar </button>
              </div>
              <div class="col-md-2">
                <a class="btn btn-danger btn-block" href="{% url 'detalleLote' idp=idp pk=id %}"> Cancelar </a>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script type= application/javascript>
  {%if form.errors%}
      var errors = '';
      {%for field in form%}
        {% for error in field.errors %}
          errors += '{{ error }}\n';
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        errors += '{{ error }}\n';
      {% endfor %}
        alert(errors)
  {% endif %}

  Inputmask("9{8}[-]9{1}", {
    placeholder: "",
    greedy: false
  }).mask('#id_dui');

  Inputmask("9{4}[-]9{4}", {
    placeholder: "",
    greedy: false
  }).mask('#id_telefonoTrabajo');

  Inputmask("9{4}[-]9{4}", {
    placeholder: "",
    greedy: false
  }).mask('#id_telefonoCasa');

  Inputmask("9{4}[-]9{4}", {
    placeholder: "",
    greedy: false
  }).mask('#id_telefonoCelular');
</script>
  {% endblock %}