{% extends 'base.html' %}
{% load static %}
{% load my_templatetag %}

{% block head %} {% endblock %}

{% block content %}
<div id="wrapper">
    {% include 'navbar.html' %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Ventas</h1>
                </div>
            </div>

            <!-- ... Aqui poner su contenido... -->
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script type= application/javascript>
    {%if messages%}
        var msg = '';
        {%for message in messages%}
          {% if message.tags %}
            msg += '{{ message }}\n';
          {% endif %}
        {% endfor %}
          alert(msg)
    {% endif %}
  </script>
{% endblock %}