{% extends 'base.html' %}
{% load static %}
{% load my_templatetag %}

{% block head %}
 <!-- DataTables CSS -->
 <link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css'%}" type="text/css">
 <!-- DataTables Responsive CSS -->
 <link rel="stylesheet" href="{% static 'css/dataTables/dataTables.responsive.css'%}" type="text/css">
{% endblock %}

{% block content %}

<div id="wrapper">
    {% include 'navbar.html' %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Listado de propietarios</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="row centrar">
                            <div class="col-md-10">
                                <h3></h3>
                            </div>
                            {% if request.user|has_group:"Configurador del sistema" or request.user|has_group:"Administrador del sistema"%} 
                            <div class="col-md-2">
                                <a class="btn btn-primary btn-block" href="" > Agregar </a>
                            </div>
                            {% endif %}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default" oncontextmenu="return false">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div>
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>DUI</th>
                                            <th>Nombre</th>
                                            <th>Dirección</th>
                                            <th>Teléfono</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for propietario in propietarios %}
                                        {% ifchanged propietario.propietario.dui %}
                                        <tr>
                                            <td id="{{propietario.id}}11" class="linkDetalle" data-href="{% url 'detallePropietario' idp=idp pk=propietario.propietario.id %}">{{ propietario.propietario.dui}}
                                                <div class="dropdown">
                                                    <div id="{{propietario.id}}11O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td id="{{propietario.id}}22" class="linkDetalle" data-href="{% url 'detallePropietario' idp=idp pk=propietario.propietario.id %}">{{ propietario.propietario.nombrePropietario}}
                                                <div class="dropdown">
                                                    <div id="{{propietario.id}}22O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td id="{{propietario.id}}33" class="linkDetalle" data-href="{% url 'detallePropietario' idp=idp pk=propietario.propietario.id %}">{{ propietario.propietario.direccion}}
                                                <div class="dropdown">
                                                    <div id="{{propietario.id}}33O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td id="{{propietario.id}}44"  class="linkDetalle" data-href="{% url 'detallePropietario' idp=idp pk=propietario.propietario.id %}">{{ propietario.propietario.telefonoCelular}}
                                                <div class="dropdown">
                                                    <div id="{{propietario.id}}44O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endifchanged %}
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<!-- DataTables JavaScript -->
<script src="{% static 'js/dataTables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js'%}"></script>
<script type= application/javascript>
    $('#dataTables-example tr td').dblclick(function () {
        window.location.href = $(this).data('href');
    });
    $('#dataTables-example tr td').contextmenu(function () {
      ocultarOpciones();
      var idTd=$(this).attr('id');
      $("#"+idTd+"O").toggle();
    });
    $('#wrapper').click(function () {
      ocultarOpciones();
    });
    function ocultarOpciones() {
      $(".Options").hide();
    }
    {%if messages%}
        var msg = '';
        var msg1 = '';
        {%for message in messages%}
        {% if 'error' in message.tags %}
            msg += '{{ message }}\n';
          {% endif %}
        {% endfor %}
        if(msg != ''){
        Swal.fire({
            icon: 'error',
            text: msg,
            //footer: '<a href="">Why do I have this issue?</a>'
          })
        }
        {%for message in messages%}
        {% if 'success' in message.tags %}
            msg1 += '{{ message }}\n';
          {% endif %}
        {% endfor %}
        if(msg1 != ''){
            Swal.fire({
                icon: 'success',
                text: msg1,
              })
        }
    {% endif %}
  </script>
{% endblock %}