{% extends 'base.html' %}
{% load static %}
{% load my_templatetag %}

{% block head %} {% endblock %}

{% block content %}
<div id="wrapper">
    {% include 'navbar.html' %}
    <!-- Page Content -->
    {% if request.user|has_group:"Configurador del sistema" or request.user|has_group:"Administrador del sistema" or request.user|has_group:"Operador del sistema"%}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Detalle del proyecto</h1>
                    <div class="row">
                      <div class="col-lg-4">
                    <h1 id="pol" class="pol1">{{proyecto.nombreProyectoTuristico}}</h1>
                  </div>
                  <div class="col-lg-8"></div>
                </div>
                    <h4 id="sub">{{proyecto.empresa}}</label>
                </div>
            </div>

            <!-- ... Aqui poner su contenido... -->
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block scripts %}
<script type= application/javascript>
  {%if messages%}
  var msg = '';
  var msg1 = '';
  {%for message in messages%}
  {% if 'error' in message.tags %}
      msg += '{{ message }}\n';
    {% endif %}
  {% endfor %}
  if(msg != ''){
  Swal.fire({
      icon: 'error',
      text: msg,
      //footer: '<a href="">Why do I have this issue?</a>'
    })
  }
  {%for message in messages%}
  {% if 'success' in message.tags %}
      msg1 += '{{ message }}\n';
    {% endif %}
  {% endfor %}
  if(msg1 != ''){
      Swal.fire({
          icon: 'success',
          text: msg1,
        })
  }
{% endif %} 
  </script>
{% endblock %}
