{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %} {% endblock %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Agregar pago por mantenimiento</h3>
                </div>
                <div class="panel-body">
                    <form id = "formulario" role="form" action="." method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="label-form">{{form3.matricula.label}}</p>
                                        {{form3.matricula|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese el numero del recibo de la Prima'}}
                                        <div class ="help-block"><p class="text-muted label-help-form">{{form3.matricula.help_text}}</p></div>
                                    </div>
                                    <div class="form-group">
                                        <p class="label-form">{{form.numeroReciboMantenimiento.label}} {{ form.numeroReciboMantenimiento.errors }}</p>
                                        {{form.numeroReciboMantenimiento|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese el numero del recibo del pago'}}
                                        <div class ="help-block"><p class="text-muted label-help-form">{{form.numeroReciboMantenimiento.help_text}}</p></div>
                                    </div>
                                    <div class="form-group">
                                        <p class="label-form">{{form2.fechaPago.label}}</p>
                                        {{form2.fechaPago|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese la fecha de pago'}}
                                        <div class ="help-block"><p class="text-muted label-help-form">{{form2.fechaPago.help_text}}</p></div>
                                    </div>
                                    <div class="form-group">
                                        <p class="label-form">{{form2.monto.label}}</p>
                                        {{form2.monto|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese el monto de la Prima'}}
                                        <div class ="help-block"><p class="text-muted label-help-form">{{form2.monto.help_text}}</p></div>
                                    </div>
                                    <div class="form-group">
                                        <p class="label-form">{{form2.tipoPago.label}}</p>
                                        {{form2.tipoPago|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:'}}
                                        <div class ="help-block"><p class="text-muted label-help-form">{{form2.tipoPago.help_text}}</p></div>
                                    </div>
                                    <div class="form-group">
                                        <p class="label-form">{{form2.referencia.label}}</p>
                                        {{form2.referencia|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese la referencia'}}
                                        <div class ="help-block"><p class="text-muted label-help-form">{{form2.referencia.help_text}}</p></div>
                                    </div>
                                    <div class="form-group">
                                        <p class="label-form">{{form2.cuentaBancaria.label}}</p>
                                        {{form2.cuentaBancaria|add_class:' form-control'}}
                                        <div class ="help-block"><p class="text-muted label-help-form">{{form2.cuentaBancaria.help_text}}</p></div>
                                    </div>
                                    <div class="form-group">
                                        <p class="label-form">{{form.conceptoOtros.label}}</p>
                                        {{form.conceptoOtros|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese el concepto por otros pagos'}}
                                        <div class ="help-block"><p class="text-muted label-help-form">{{form.conceptoOtros.help_text}}</p></div>
                                    </div>
                                    <div class="form-group">
                                        <p class="label-form">{{form.montoOtros.label}}</p>
                                        {{form.montoOtros|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese el monto por otros pagos'}}
                                        <div class ="help-block"><p class="text-muted label-help-form">{{form.montoOtros.help_text}}</p></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary btn-block"> Agregar </button>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-danger btn-block" href="{% url 'caja' idp=idp %}"> Cancelar </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script type= application/javascript>
    {%if form.errors%}
        var errors = '';
        {%for field in form%}
          {% for error in field.errors %}
            errors += '{{ error }}\n';
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          errors += '{{ error }}\n';
        {% endfor %}
        Swal.fire({
            icon: 'error',
            text: errors,
          })
    {% endif %}

    //usuario = document.getElementById('id_numeroReciboMantenimiento');
    //usuario.classList.add('has-error');
  </script>
{% endblock %}