{% extends 'base.html' %}
{% load static %}
{% load my_templatetag %}

{% block head %} 
<!-- DataTables CSS -->
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css'%}" type="text/css">
<!-- DataTables Responsive CSS -->
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.responsive.css'%}" type="text/css">
{% endblock %}

{% block content %}
<div id="wrapper">
    {% include 'navbar.html' %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">Caja</h1>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-body">
                        <div class="row centrar">
                          <div class="col-md-10">
                          <h3>Resumen ingresos</h3>
                          </div>
                          <div class="col-md-2">
                            <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#primaModal">
                                Registrar
                               </button>
                          </div>
                        </div>
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                  <thead>
                                      <tr>
                                          <th></th>
                                          <th>
                                              Extra small devices
                                              <small>Phones (&lt;768px)</small>
                                          </th>
                                          <th>
                                              Small devices
                                              <small>Tablets (&ge;768px)</small>
                                          </th>
                                          <th>
                                              Medium devices
                                              <small>Desktops (&ge;992px)</small>
                                          </th>
                                          <th>
                                              Large devices
                                              <small>Desktops (&ge;1200px)</small>
                                          </th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <th>Max container width</th>
                                          <td>None (auto)</td>
                                          <td>750px</td>
                                          <td>970px</td>
                                          <td>1170px</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row pt-3">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                      <thead>
                          <tr>
                              <th>Fecha</th>
                              <th>Monto</th>
                              <th>Recibo</th>
                              <th>Mantenimiento</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                          </tr>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
            
        </div>
    </div>
</div>
<!-- /.modal -->
<div class="modal fade" id="primaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Elija una opción</h4>
            </div> 
            <div class="modal-body">
                <a class="btn btn-default btn-block" href="{% url 'agregarprima' idp=idp %}"> Prima </a>
                <a class="btn btn-default btn-block" href="{% url 'agregarPagoMantenimiento' idp=idp %}"> Pago por mantenimiento </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock content %}

{% block scripts %}
<!-- DataTables JavaScript -->
<script src="{% static 'js/dataTables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script type= application/javascript>
    {%if messages%}
        var msg = '';
        {%for message in messages%}
          {% if message.tags %}
            msg += '{{ message }}\n';
          {% endif %}
        {% endfor %}
          alert(msg)
    {% endif %}
  </script>
{% endblock %}