{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %} 
<link rel="stylesheet" href="../../../static/css/estilos.css">
{% endblock %}

{% block content %} 
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Agregar Cuenta Bancaria</h3>
        </div>
        <div class="panel-body">
          <form role="form" action="." method="post" class="AgregarCuentaBancaria" id="AgregarCuentaBancaria">
            {% csrf_token %}
            <fieldset>
              <div class="col-md-12">
                <div class="formulario__grupo" id="grupo__numeroCuentaBancaria">
                  <label for="numeroCuentaBancaria" class="formulario__label">{{form.numeroCuentaBancaria.label}}</label>
                  <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="numeroCuentaBancaria" id="numeroCuentaBancaria" placeholder="000000">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                  </div>
                  <p class="formulario__input-error">{{form.numeroCuentaBancaria.help_text}}</p>
                </div>
                <div class="formulario__grupo" id="grupo__nombreCuentaBancaria">
                  <label for="nombreCuentaBancaria" class="formulario__label">{{form.nombreCuentaBancaria.label}}</label>
                  <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="nombreCuentaBancaria" id="nombreCuentaBancaria" placeholder="Ejemplo: Nombre Cuenta">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                  </div>
                  <p class="formulario__input-error">{{form.nombreCuentaBancaria.help_text}}</p>
                </div>
                <div class="formulario__grupo" id="grupo__tipoCuenta">
                  <label for="tipoCuenta" class="formulario__label">{{form.tipoCuenta.label}}</label>
                  <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="tipoCuenta" id="tipoCuenta" placeholder="Ejemplo: Cuenta Corriente">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                  </div>
                  <p class="formulario__input-error">{{form.tipoCuenta.help_text}}</p>
                </div>
                <div class="formulario__grupo" id="grupo__banco">
                  <label for="banco" class="formulario__label">{{form.banco.label}}</label>
                  <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="banco" id="banco" placeholder="Ejemplo: Banco Agrícola">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                  </div>
                  <p class="formulario__input-error">{{form.banco.help_text}}</p>
                </div>
              
                <div class="formulario__mensaje" id="formulario__mensaje">
                  <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellene el formulario correctamente. </p>
                </div>

              </div>
            </fieldset>

            <div class="row">
              <div class="col-md-7"></div>
              <div class="col-md-2">
                  <button type="submit" class="btn btn-primary">Agregar</button>
              </div>
              <div class="col-md-2">
                  <a class="btn btn-danger" href="{% url 'cuentas' idp=idp %}"> Cancelar </a>
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="../../../static/js/formularioCuentaBancaria.js"></script>
<script type= application/javascript>
  {%if form.errors%}
      var errors = '';
      {%for field in form%}
        {% for error in field.errors %}
          errors += '{{ error }}\n';
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        errors += '{{ error }}\n';
      {% endfor %}
      Swal.fire({
        icon: 'error',
        text: errors,
      })
  {% endif %}
</script>
<script type= application/javascript>
  Inputmask("9{8}", {
    placeholder: "",
    greedy: false
  }).mask('#id_matriculaLote');
  Inputmask("9{3}", {
    placeholder: "",
    greedy: false
  }).mask('#id_numeroLote');

  Inputmask("9{5}", {
    placeholder: "",
    greedy: false
  }).mask('#id_areaMCuadrado');

  Inputmask("9{5}", {
    placeholder: "",
    greedy: false
  }).mask('#id_areaVCuadrada');
</script>
  {% endblock %}