{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %} 
  <link rel="stylesheet" href="../../../static/css/estilos.css">
{% endblock %}

{% block content %} 
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Agregar Detalle de Venta</h3>
        </div>
        <div class="panel-body">
          <form role="form" action="." method="post" class="AgregarDetalleVenta" id="AgregarDetalleVenta">
            {% csrf_token %}
            <fieldset>
              <div class="col-md-12">
                <div class="formulario__grupo" id="grupo__precioVenta">
                  <label for="precioVenta" class="formulario__label">{{form.precioVenta.label}}</label>
                  <div class="formulario__grupo-input">
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input type="text" class="formulario__input" name="precioVenta" id="precioVenta" placeholder="000000.00">
                    </div>
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                  </div>
                  <p class="formulario__input-error">{{form.precioVenta.help_text}}</p>
                </div>
                <div class="formulario__grupo" id="grupo__descuento">
                  <label for="descuento" class="formulario__label">{{form.descuento.label}}</label>
                  <div class="formulario__grupo-input">
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                    <input type="text" class="formulario__input" name="descuento" id="descuento" placeholder="000000.00">
                    </div>
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                  </div>
                  <p class="formulario__input-error">{{form.descuento.help_text}}</p>
                </div>
              
                <div class="formulario__mensaje" id="formulario__mensaje">
                  <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellene el formulario correctamente. </p>
                </div>
              </div>
            </fieldset>  
            
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-3">
                  <button type="submit" class="btn btn-primary">Agregar</button>
              </div>
              <div class="col-md-2">
                  <a class="btn btn-danger" href="javascript:history.back()"> Cancelar </a>
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="../../../static/js/formularioAgregarVenta.js"></script>

<script type= application/javascript>
  {%if form.errors%}
      var errors = '';
      {%for field in form%}
        {% for error in field.errors %}
          errors += '{{ error }}\n';
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        errors += '{{ error }}\n';
      {% endfor %}
      Swal.fire({
        icon: 'error',
        text: errors,
      })
  {% endif %}

{%if messages%}
var msg = '';
var msg1 = '';
{%for message in messages%}
{% if 'error' in message.tags %}
    msg += '{{ message }}\n';
  {% endif %}
{% endfor %}
if(msg != ''){
Swal.fire({
    icon: 'error',
    text: msg,
  })
}
{% endif %} 
</script>

{% endblock %}

