{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %} {% endblock %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Agregar Proyecto Turistico</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="." method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="label-form">{{form.nombreProyectoTuristico.label}}</p>
                                        {{form.nombreProyectoTuristico|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ejemplo: La ventana'}}
                                        <div class ="help-block"><p class="text-muted label-help-form">{{form.nombreProyectoTuristico.help_text}}</p></div>
                                    </div>
                                    <div class="form-group">
                                        <p class="label-form">{{form.empresa.label}}</p>
                                        {{form.empresa|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ejemplo: Decatur'}}
                                        <div class ="help-block"><p class="text-muted label-help-form">{{form.empresa.help_text}}</p></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary btn-block"> Agregar </button>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-danger btn-block" href="{% url 'home' %}"> Cancelar </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script type= application/javascript>
    {%if form.errors%}
        var errors = '';
        {%for field in form%}
          {% for error in field.errors %}
            errors += '{{ error }}\n';
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          errors += '{{ error }}\n';
        {% endfor %}
        Swal.fire({
            icon: 'error',
            text: errors,
          })
    {% endif %}
  </script>
  <script type= application/javascript>
    $('#id_nombreProyectoTuristico').bind('keypress', function(event) {
  var regex = new RegExp("^[a-zA-Z ]+$");
  var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
  if (!regex.test(key)) {
    event.preventDefault();
    return false;
  }
});
$('#id_empresa').bind('keypress', function(event) {
  var regex = new RegExp("^[a-zA-Z ]+$");
  var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
  if (!regex.test(key)) {
    event.preventDefault();
    return false;
  }
});
    Inputmask("{50}", {
      placeholder: "",
      greedy: false
    }).mask('#id_nombreProyectoTuristico');
    Inputmask("{30}", {
      placeholder: "",
      greedy: false
    }).mask('#id_empresa');
  </script>
{% endblock %}
