{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %} 
  <link rel="stylesheet" href="../../../static/css/estilos.css">
{% endblock %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Agregar Proyecto Turistico</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="." method="POST" class="AgregarProyectoTuristico" id="AgregarProyectoTuristico">
                        {% csrf_token %}
                        <fieldset>
                          <div class="col-md-12">
                            <div class="formulario__grupo" id="grupo__nombreProyectoTuristico">
                              <label for="nombreProyectoTuristico" class="formulario__label">{{form.nombreProyectoTuristico.label}}</label>
                              <div class="formulario__grupo-input">
                                <input autocomplete="off" type="text" class="formulario__input" name="nombreProyectoTuristico" id="nombreProyectoTuristico" placeholder="Ejemplo: Decatur">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                              </div>
                              <p class="formulario__input-error">{{form.nombreProyectoTuristico.help_text}}</p>
                            </div>
                            <div class="formulario__grupo" id="grupo__empresa">
                              <label for="empresa" class="formulario__label">{{form.empresa.label}}</label>
                              <div class="formulario__grupo-input">
                                <input autocomplete="off" type="text" class="formulario__input" name="empresa" id="empresa" placeholder="Ejemplo: Decatur">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                              </div>
                              <p class="formulario__input-error">{{form.empresa.help_text}}</p>
                            </div>
                          
                            <div class="formulario__mensaje" id="formulario__mensaje">
                              <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellene el formulario correctamente. </p>
                            </div>

                          </div>
                        </fieldset>
                        
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary">Agregar</button>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-danger" href="{% url 'home' %}"> Cancelar </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="../../../static/js/formulario.js"></script>
<script type= application/javascript>
    {%if form.errors%}
        var errors = '';
        {%for field in form%}
          {% for error in field.errors %}
            errors += '{{ error }}\n';
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          errors += '{{ error }}\n';
        {% endfor %}
        Swal.fire({
            icon: 'error',
            text: errors,
          })
    {% endif %}
  </script>
  <script type= application/javascript>
    $('#id_nombreProyectoTuristico').bind('keypress', function(event) {
  var regex = new RegExp("^[a-zA-Z ]+$");
  var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
  if (!regex.test(key)) {
    event.preventDefault();
    return false;
  }
});
$('#id_empresa').bind('keypress', function(event) {
  var regex = new RegExp("^[a-zA-Z ]+$");
  var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
  if (!regex.test(key)) {
    event.preventDefault();
    return false;
  }
});
    Inputmask("{50}", {
      placeholder: "",
      greedy: false
    }).mask('#id_nombreProyectoTuristico');
    Inputmask("{30}", {
      placeholder: "",
      greedy: false
    }).mask('#id_empresa');
  </script>
{% endblock %}
