{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %} 
<link rel="stylesheet" href="../../../static/css/estilos.css">
{% endblock %}

{% block content %} 
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Agregar lote</h3>
        </div>
        <div class="panel-body">
          <form role="form" action="." method="post" novalidate class="AgregarLote" id="AgregarLote">
            {% csrf_token %} 
            <fieldset>
              <div class="col-md-12">
                <div class="formulario__grupo" id="grupo__matriculaLote">
                  <label for="matriculaLote" class="formulario__label">{{form.matriculaLote.label}}</label>
                  <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="matriculaLote" id="matriculaLote" placeholder="00000000">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                  </div>
                  <p class="formulario__input-error">{{form.matriculaLote.help_text}}</p>
                </div>
                <div class="formulario__grupo" id="grupo__numeroLote">
                  <label for="numeroLote" class="formulario__label">{{form.numeroLote.label}}</label>
                  <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="numeroLote" id="numeroLote" placeholder="000">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                  </div>
                  <p class="formulario__input-error">{{form.numeroLote.help_text}}</p>
                </div>
                <div class="formulario__grupo" id="grupo__poligono">
                  <label for="poligono" class="formulario__label">{{form.poligono.label}}</label>
                  <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="poligono" id="poligono" placeholder="Pa=Polígono(P)Porcion(a)">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                  </div>
                  <p class="formulario__input-error">{{form.poligono.help_text}}</p>
                </div>
                <div class="formulario__grupo" id="grupo__areaMCuadrado">
                  <label for="areaMCuadrado" class="formulario__label">{{form.areaMCuadrado.label}}</label>
                  <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="areaMCuadrado" id="areaMCuadrado" placeholder="000000.00">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                  </div>
                  <p class="formulario__input-error">{{form.areaMCuadrado.help_text}}</p>
                </div>
                <div class="formulario__grupo" id="grupo__areaVCuadrada">
                  <label for="areaVCuadrada" class="formulario__label">{{form.areaVCuadrada.label}}</label>
                  <div class="formulario__grupo-input">
                    {{form.areaVCuadrada|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:000000.00'|attr:'min:0'}}
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                  </div>
                  <p class="formulario__input-error">{{form.areaVCuadrada.help_text}}</p>
                </div>
                
                <div class="formulario__mensaje" id="formulario__mensaje">
                  <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellene el formulario correctamente. </p>
                </div>
              </div>
            </fieldset>

            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-3">
                  <button type="submit" class="btn btn-primary">Agregar</button>
              </div>
              <div class="col-md-2">
                  <a class="btn btn-danger" href="{% url 'gestionarLotes' idp=idp %}"> Cancelar </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="../../../static/js/formularioLote.js"></script>
<script type= application/javascript>
  {%if form.errors%}
      var errors = '';
      {%for field in form%}
        {% for error in field.errors %}
          errors += '{{ error }}\n';
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        errors += '{{ error }}\n';
      {% endfor %}
      Swal.fire({
          icon: 'error',
          text: errors,
        })
  {% endif %}
</script>
<script type= application/javascript>
  Inputmask("9{8}", {
    placeholder: "",
    greedy: false
  }).mask('#id_matriculaLote');
  Inputmask("9{10}", {
    placeholder: "",
    greedy: false
  }).mask('#id_numeroLote');

  $('#id_areaMCuadrado').keyup(function(event) {
    let metros = $('#id_areaMCuadrado').val();
    let varas = metros * 1.431;
    varas = varas.toFixed(2);

    $('#id_areaVCuadrada').val(varas);
  });
</script>
  {% endblock %}