{% extends 'base.html' %}
{% load static %}
{% load my_templatetag %}

{% block head %}
<!-- DataTables CSS -->
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.bootstrap.css'%}" type="text/css">
<!-- DataTables Responsive CSS -->
<link rel="stylesheet" href="{% static 'css/dataTables/dataTables.responsive.css'%}" type="text/css">
{% endblock %}

{% block content %}
<div id="wrapper">
    {% include 'navbar.html' %}
    <!-- Page Content -->
    {% if request.user|has_group:"Configurador del sistema" or request.user|has_group:"Administrador del sistema" or request.user|has_group:"Operador del sistema"%}
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Contenido aqui -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Generalidades de la Venta</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p class="page-header" id="pol">{{object.lote.numeroLote}}</p>
                                    <p id="lote">{{object.lote.poligono}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h4>Especificaciones del Lote</h4></div>
                                <div class="panel-body">
                                    <p><label class="label-form">Matricula:&nbsp;</label>{{object.lote.matriculaLote}}</p>
                                    <p><label class="label-form">Area(m<sup>2</sup>):&nbsp;</label>{{object.lote.areaMCuadrado}}<label>&nbsp;m<sup>2</sup></label></p>
                                    <p><label class="label-form">Area(v<sup>2</sup>):&nbsp;</label>{{object.lote.areaVCuadrada}}<label>&nbsp;v<sup>2</sup></label></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4> Detalle de Venta</h4>
                        </div>
                        <div class="panel-body">
                            <p><label class="label-form">Precio de venta:&nbsp;</label> $ {{detalleV.precioVenta}}</p>
                            <p><label class="label-form">Descuento:&nbsp;</label> $ {{detalleV.descuento}}</p>
                            <p><label class="label-form">Total de Prima:&nbsp;</label> $ {{sumPrima}}</p>  
                            <p><label class="label-form">Estado:&nbsp;</label> {%if detalleV.estado == True%}Activo{%else%}Inactivo{%endif%}</p>         
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default" oncontextmenu="return false">
                        <div class="panel-heading">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal"> Asignar</button>
                            </div>
                            <h4>Propietario</h4>
                        </div>
                        <div class="table-responsive tablaDetalleVenta">
                            <table class="table table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Telefono Celular</th>
                                        <th>Dirección</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for asignacion in asignaciones %}
                                    <tr>
                                        <td id="{{asignacion.propietario.id}}11" class="linkDetalle" data-href="{% url 'detallePropietario' idp=idp pk=asignacion.propietario.id %}">{{ asignacion.propietario.nombrePropietario}}
                                            <div  class="dropdown">
                                                <div id="{{asignacion.propietario.id}}11O" class="dropdown-menu Options">
                                                    <div class="opciones">
                                                        <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Editar</a>
                                                    </div>
                                                    <div class="opciones">
                                                        <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Eliminar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td id="{{asignacion.propietario.id}}22" class="linkDetalle" data-href="{% url 'detallePropietario' idp=idp pk=asignacion.propietario.id %}">{{ asignacion.propietario.telefonoCelular}}
                                            <div class="dropdown">
                                                <div id="{{asignacion.propietario.id}}22O" class="dropdown-menu Options">
                                                    <div class="opciones">
                                                        <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Editar</a>
                                                    </div>
                                                    <div class="opciones">
                                                        <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Eliminar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td id="{{asignacion.propietario.id}}33" class="linkDetalle" data-href="{% url 'detallePropietario' idp=idp pk=asignacion.propietario.id %}">{{ asignacion.propietario.direccion}}
                                            <div class="dropdown">
                                                <div id="{{asignacion.propietario.id}}33O" class="dropdown-menu Options">
                                                    <div class="opciones">
                                                        <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Editar</a>
                                                    </div>
                                                    <div class="opciones">
                                                        <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Eliminar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                            <br>
                            <br>
                            <br>
                        </div>
                        <!--div-->
                    </div>
                    <div class="panel panel-default" oncontextmenu="return false">
                        <div class="panel-heading">
                            {%if condiciones%}
                            {%else%}
                            <div class="pull-right">
                                <a class="btn btn-primary btn-block" href="{% url 'agregarprima' idp=idp %}"> Agregar </a>
                            </div>
                            {%endif%}
                            <h4>Prima</h4>
                        </div>
                        <!--div class="panel-body"-->                    
                        <div class="table-responsive tablaDetalleVenta">
                            <table class="table table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Fecha de Pago</th>
                                        <th>Nº de Recibo</th>
                                        <th>Monto</th>
                                        <th>Concepto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pago in pagos %}
                                    <tr>
                                        {% if pago.prima.detalleVenta_id == detalleV.id %}
                                            <td id="{{pago.id}}111" class="linkDetallePago" data-href="{% url 'detallePago' idp=idp pk=pago.id %}">{{ pago.fechaPago}}
                                                <div class="dropdown">
                                                    <div id="{{pago.id}}111O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'modificarPrima' idp=idp idv=object.id pk=pago.prima_id %}"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <!--Marca error pero es por la sintaxis que no la reconoce, pero si funciona-->
                                                            <a id="itemOpciones" class="dropdown-item btn-block" onclick="eliminarPrima({{idp}},{{object.id}},{{pago.prima_id}})"><b></b> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td id="{{pago.id}}222" class="linkDetallePago" data-href="{% url 'detallePago' idp=idp pk=pago.id %}">{{ pago.prima_id}}
                                                <div class="dropdown">
                                                    <div id="{{pago.id}}222O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'modificarPrima' idp=idp idv=object.id pk=pago.prima_id %}"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <!--Marca error pero es por la sintaxis que no la reconoce, pero si funciona-->
                                                            <a id="itemOpciones" class="dropdown-item btn-block" onclick="eliminarPrima({{idp}},{{object.id}},{{pago.prima_id}})"><b></b> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td id="{{pago.id}}333" class="linkDetallePago" data-href="{% url 'detallePago' idp=idp pk=pago.id %}">$ {{ pago.monto}}
                                                <div class="dropdown">
                                                    <div id="{{pago.id}}333O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'modificarPrima' idp=idp idv=object.id pk=pago.prima_id %}"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <!--Marca error pero es por la sintaxis que no la reconoce, pero si funciona-->
                                                            <a id="itemOpciones" class="dropdown-item btn-block" onclick="eliminarPrima({{idp}},{{object.id}},{{pago.prima_id}})"><b></b> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td id="{{pago.id}}333" class="linkDetallePago" data-href="{% url 'detallePago' idp=idp pk=pago.id %}">{{ pago.prima.conceptoPrima}}</td>
                                        {% endif %}
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                            <br>
                            <br>
                            <br>
                        </div>
                        <!--div-->
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default" oncontextmenu="return false">
                        <div class="panel-heading">
                            <div class="pull-right">
                                <a type="button" class="btn btn-primary btn-block" href="{% url 'agregarCondicionP' idp=idp idv=object.id %}">Agregar</a>
                            </div>
                            <h4> Condiciones de Pago</h4>
                        </div>
                        <div class="table-responsive tablaDetalleVenta">
                            <table class="table table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Fecha de Escrituración</th>
                                        <th>Monto Financ.</th>
                                        <th>Plazo</th>
                                        <th>Ínteres</th>
                                        <th>Comisión</th>
                                        <th>Mantenimiento</th>
                                        <th>Multa Manten.</th>
                                        <th>Financiamiento</th>
                                        <th>Multa Financ.</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for c in condiciones %}
                                    <tr>
                                        {% if c.detalleVenta_id == detalleV.id %}
                                            <td id="{{c.id}}1111" class="linkDetallePago" data-href=""> {{ c.fechaEscrituracion }}
                                                {% if c.estado %}
                                                <div class="dropdown">
                                                    <div id="{{c.id}}1111O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'modificarCondicionesP' idp=idp idv=object.id pk=c.id %}"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <!--Marca error pero es por la sintaxis que no la reconoce, pero si funciona-->
                                                            <a id="itemOpciones" class="dropdown-item btn-block" onclick="confirmacionEliminarCondiciones()"><b></b> Eliminar</a>
                                                            <form id="eliminarCondiciones" method="POST" action="{% url 'eliminarCondicionesP' idp=idp idv=object.id pk=c.id %}">
                                                                {% csrf_token %}
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td id="{{c.id}}2222" class="linkDetallePago" data-href=""> $ {{ c.montoFinanciamiento }}
                                                {% if c.estado %}
                                                <div class="dropdown">
                                                    <div id="{{c.id}}2222O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'modificarCondicionesP' idp=idp idv=object.id pk=c.id %}"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <!--Marca error pero es por la sintaxis que no la reconoce, pero si funciona-->
                                                            <a id="itemOpciones" class="dropdown-item btn-block" onclick="confirmacionEliminarCondiciones()"><b></b> Eliminar</a>
                                                            <form id="eliminarCondiciones" method="POST" action="{% url 'eliminarCondicionesP' idp=idp idv=object.id pk=c.id %}">
                                                                {% csrf_token %}
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td id="{{c.id}}3333" class="linkDetallePago" data-href=""> {{ c.plazo }} Meses
                                                {% if c.estado %}
                                                <div class="dropdown">
                                                    <div id="{{c.id}}3333O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'modificarCondicionesP' idp=idp idv=object.id pk=c.id %}"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <!--Marca error pero es por la sintaxis que no la reconoce, pero si funciona-->
                                                            <a id="itemOpciones" class="dropdown-item btn-block" onclick="confirmacionEliminarCondiciones()"><b></b> Eliminar</a>
                                                            <form id="eliminarCondiciones" method="POST" action="{% url 'eliminarCondicionesP' idp=idp idv=object.id pk=c.id %}">
                                                                {% csrf_token %}
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td id="{{c.id}}4444" class="linkDetallePago" data-href=""> {{ c.tasaInteres }} %
                                                {% if c.estado %}
                                                <div class="dropdown">
                                                    <div id="{{c.id}}4444O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'modificarCondicionesP' idp=idp idv=object.id pk=c.id %}"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <!--Marca error pero es por la sintaxis que no la reconoce, pero si funciona-->
                                                            <a id="itemOpciones" class="dropdown-item btn-block" onclick="confirmacionEliminarCondiciones()"><b></b> Eliminar</a>
                                                            <form id="eliminarCondiciones" method="POST" action="{% url 'eliminarCondicionesP' idp=idp idv=object.id pk=c.id %}">
                                                                {% csrf_token %}
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td id="{{c.id}}5555" class="linkDetallePago" data-href=""> $ {{ c.comisionCuota }}
                                                {% if c.estado %}
                                                <div class="dropdown">
                                                    <div id="{{c.id}}5555O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'modificarCondicionesP' idp=idp idv=object.id pk=c.id %}"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <!--Marca error pero es por la sintaxis que no la reconoce, pero si funciona-->
                                                            <a id="itemOpciones" class="dropdown-item btn-block" onclick="confirmacionEliminarCondiciones()"><b></b> Eliminar</a>
                                                            <form id="eliminarCondiciones" method="POST" action="{% url 'eliminarCondicionesP' idp=idp idv=object.id pk=c.id %}">
                                                                {% csrf_token %}
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td id="{{c.id}}6666" class="linkDetallePago" data-href=""> $ {{ c.mantenimientoCuota }}
                                                {% if c.estado %}
                                                <div class="dropdown">
                                                    <div id="{{c.id}}6666O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'modificarCondicionesP' idp=idp idv=object.id pk=c.id %}"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <!--Marca error pero es por la sintaxis que no la reconoce, pero si funciona-->
                                                            <a id="itemOpciones" class="dropdown-item btn-block" onclick="confirmacionEliminarCondiciones()"><b></b> Eliminar</a>
                                                            <form id="eliminarCondiciones" method="POST" action="{% url 'eliminarCondicionesP' idp=idp idv=object.id pk=c.id %}">
                                                                {% csrf_token %}
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td id="{{c.id}}7777" class="linkDetallePago" data-href=""> $ {{ c.multaMantenimiento }}
                                                {% if c.estado %}
                                                <div class="dropdown">
                                                    <div id="{{c.id}}7777O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'modificarCondicionesP' idp=idp idv=object.id pk=c.id %}"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <!--Marca error pero es por la sintaxis que no la reconoce, pero si funciona-->
                                                            <a id="itemOpciones" class="dropdown-item btn-block" onclick="confirmacionEliminarCondiciones()"><b></b> Eliminar</a>
                                                            <form id="eliminarCondiciones" method="POST" action="{% url 'eliminarCondicionesP' idp=idp idv=object.id pk=c.id %}">
                                                                {% csrf_token %}
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td id="{{c.id}}8888" class="linkDetallePago" data-href=""> $ {{ c.cuotaFinanciamiento }}
                                                {% if c.estado %}
                                                <div class="dropdown">
                                                    <div id="{{c.id}}8888O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'modificarCondicionesP' idp=idp idv=object.id pk=c.id %}"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <!--Marca error pero es por la sintaxis que no la reconoce, pero si funciona-->
                                                            <a id="itemOpciones" class="dropdown-item btn-block" onclick="confirmacionEliminarCondiciones()"><b></b> Eliminar</a>
                                                            <form id="eliminarCondiciones" method="POST" action="{% url 'eliminarCondicionesP' idp=idp idv=object.id pk=c.id %}">
                                                                {% csrf_token %}
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td id="{{c.id}}9999" class="linkDetallePago" data-href=""> $ {{ c.multaFinanciamiento }}
                                                {% if c.estado %}
                                                <div class="dropdown">
                                                    <div id="{{c.id}}9999O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'modificarCondicionesP' idp=idp idv=object.id pk=c.id %}"><b></b> Editar</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <!--Marca error pero es por la sintaxis que no la reconoce, pero si funciona-->
                                                            <a id="itemOpciones" class="dropdown-item btn-block" onclick="confirmacionEliminarCondiciones()"><b></b> Eliminar</a>
                                                            <form id="eliminarCondiciones" method="POST" action="{% url 'eliminarCondicionesP' idp=idp idv=object.id pk=c.id %}">
                                                                {% csrf_token %}
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td id="{{c.id}}9999" class="linkDetallePago" data-href="">
                                                {% if c.estado %}
                                                    Activo
                                                {% else %}
                                                    Inactivo
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default" oncontextmenu="return false">
                        <div class="panel-heading">
                            <h4>Estados de Cuenta de Mantenimiento</h4>
                        </div>
                        <div class="table-responsive tablaDetalleVenta">
                            <table class="table table-hover" id="dataTables-example">
                                <tbody>
                                    {% if estadosDeCuentaM %}
                                        {% for estadoDeCuentaM in estadosDeCuentaM %}
                                        <tr>
                                            <td id="{{estadoDeCuentaM.id}}11111" class="linkDetalle" data-href="{% url 'estadoCuenta' idp=idp idv=estadoDeCuentaM.condicionesPago.detalleVenta.id pk=estadoDeCuentaM.condicionesPago.id%}">[ {{estadoDeCuentaM.fechaRegistro|date:"d/F/Y" }} ] - {{estadoDeCuentaM.nombre}} - 
                                                {% if estadoDeCuentaM.condicionesPago.estado %}
                                                    Activo
                                                {% else %}
                                                    Inactivo
                                                {% endif %}
                                                <div  class="dropdown">
                                                    <div id="{{estadoDeCuentaM.id}}11111O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'estadoCuenta' idp=idp idv=estadoDeCuentaM.condicionesPago.detalleVenta.id pk=estadoDeCuentaM.condicionesPago.id%}"><b></b> Ver</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Imprimir</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                    {%endif%}
                                </tbody>
                            </table>
                            <br>
                            <br>
                            <br>
                        </div>
                        <!--div-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default" oncontextmenu="return false">
                        <div class="panel-heading">
                            <h4>Estados de Cuenta de Financiamiento</h4>
                        </div>
                        <div class="table-responsive tablaDetalleVenta">
                            <table class="table table-hover" id="dataTables-example">
                                <tbody>
                                    {% if estadosDeCuentaM %}
                                        {% for estadoDeCuentaM in estadosDeCuentaM %}
                                        <tr>
                                            <td id="{{estadoDeCuentaM.id}}11111" class="linkDetalle" data-href="{% url 'estadoCuenta' idp=idp idv=estadoDeCuentaM.condicionesPago.detalleVenta.id pk=estadoDeCuentaM.condicionesPago.id %}">[ {{estadoDeCuentaM.fechaRegistro|date:"d/F/Y" }} ] - {{estadoDeCuentaM.nombre}} - 
                                                {% if estadoDeCuentaM.condicionesPago.estado %}
                                                    Activo
                                                {% else %}
                                                    Inactivo
                                                {% endif %}
                                                <div  class="dropdown">
                                                    <div id="{{estadoDeCuentaM.id}}11111O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'estadoCuenta' idp=idp idv=estadoDeCuentaM.condicionesPago.detalleVenta.id pk=estadoDeCuentaM.condicionesPago.id %}"><b></b> Ver</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Imprimir</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                    {%endif%}
                                </tbody>
                            </table>
                            <br>
                            <br>
                            <br>
                        </div>
                        <!--div-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default" oncontextmenu="return false">
                        <div class="panel-heading">
                            <h4>Tablas de Amortización</h4>
                        </div>
                        <div class="table-responsive tablaDetalleVenta">
                            <table class="table table-hover" id="dataTables-example">
                                <tbody>
                                    {% if estadosDeCuentaM %}
                                        {% for estadoDeCuentaM in estadosDeCuentaM %}
                                        <tr>
                                            <td id="{{estadoDeCuentaM.id}}11111" class="linkDetalle" data-href="{% url 'estadoCuenta' idp=idp idv=estadoDeCuentaM.condicionesPago.detalleVenta.id pk=estadoDeCuentaM.condicionesPago.id %}">[ {{estadoDeCuentaM.fechaRegistro|date:"d/F/Y" }} ] - {{estadoDeCuentaM.nombre}} - 
                                                {% if estadoDeCuentaM.condicionesPago.estado %}
                                                    Activo
                                                {% else %}
                                                    Inactivo
                                                {% endif %}
                                                <div  class="dropdown">
                                                    <div id="{{estadoDeCuentaM.id}}11111O" class="dropdown-menu Options">
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="{% url 'estadoCuenta' idp=idp idv=estadoDeCuentaM.condicionesPago.detalleVenta.id pk=estadoDeCuentaM.condicionesPago.id %}"><b></b> Ver</a>
                                                        </div>
                                                        <div class="opciones">
                                                            <a id="itemOpciones" class="dropdown-item btn-block" href="#"><b></b> Imprimir</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                    {%endif%}
                                </tbody>
                            </table>
                            <br>
                            <br>
                            <br>
                        </div>
                        <!--div-->
                    </div>
                </div>
            
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Elija una opción</h4>
                    </div>
                    <div class="modal-body">
                        <a class="btn btn-default btn-block" href="{% url 'agregarPropietario' idp=idp id=object.id %}">
                            Agregar propietario </a>
                        <a class="btn btn-default btn-block"
                            href="{% url 'seleccionarPropietario' idp=idp id=object.id %}"> Seleccionar propietario </a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock content %}

{% block scripts %}

<script type=application/javascript>
    $('#dataTables-example tr td').dblclick(function () {
      window.location.href = $(this).data('href');
    });
    $('#dataTables-example tr td').contextmenu(function () {
        ocultarOpciones();
        var idTd=$(this).attr('id');
        $("#"+idTd+"O").toggle();
    });
    $('#wrapper').click(function () {
      ocultarOpciones();
    });
    function ocultarOpciones() {
      $(".Options").hide();
    }
    {%if messages%}
        var msg = '';
        var msg1 = '';
        {%for message in messages%}
        {% if 'error' in message.tags %}
            msg += '{{ message }}\n';
          {% endif %}
        {% endfor %}
        if(msg != ''){
        Swal.fire({
            icon: 'error',
            text: msg,
            //footer: '<a href="">Why do I have this issue?</a>'
          })
        }
        {%for message in messages%}
        {% if 'success' in message.tags %}
            msg1 += '{{ message }}\n';
          {% endif %}
        {% endfor %}
        if(msg1 != ''){
            Swal.fire({
                icon: 'success',
                text: msg1,
              })
        }
    {% endif %} 
  </script>

{% endblock %}