.label-form{
    margin: 0;
    font-weight: 600;
}
.label-help-form{
    font-size: 11px;
}
#proyecto{
    padding-top: 3%;
    margin: 0;
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
#empresa{
    padding-top: 0.5%;
    margin: 0;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: rgb(119, 116, 116);
}
#pol{
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#lote{
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    justify-content: center;}
#sub{
    margin: 0;
    font-weight: lighter;
    color: rgb(119, 116, 116);
}


.multiple{
    height: 17em !important;
    margin-bottom: 3em;
}

#myInput {
    width: 100%;
    font-size: 14px; 
    padding: 0.8em 0.5em 0.5em 1em; 
    border: 1px solid #ddd; 
    margin-bottom: 1em; 
  }

.centrar{
    align-self: center;
}
  
.boton-registrar-caja{
    max-width: 90%;
}

.pt-3{
    padding-top: 3em;
}

.customClass .confirmButton{
    background-color: #00a65a;
    color: white;
  }

.oculto{
	display: none;
}
.mostrar{
    display: block !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.espacio{
    padding-top: 4em;
    padding-bottom: 4em;
}

.nav > li > a{
    padding: 20px 15px !important;
    color: black;
    font-size: medium;
}

.sidebar {
	z-index: 1;
	position: absolute;
	width: 250px;
	margin-top: 4.75em !important;
}

.pol1{
    justify-content: left !important;
}