.label-form{
    margin: 0;
    font-weight: 600;
}
.label-help-form{
    font-size: 11px;
}
#proyectocss{
    padding-top: 3%;
    margin: 0;
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
#empresacss{
    padding-top: 0.5%;
    margin: 0;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: rgb(119, 116, 116);
}

#observacionesPago {
    background-color: white;
    border: 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pol{
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#lote{
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    justify-content: center;}
#sub{
    margin: 0;
    font-weight: lighter;
    color: rgb(119, 116, 116);
}


.multiple{
    height: 17em !important;
    margin-bottom: 3em;
}

#myInput {
    width: 100%;
    font-size: 14px; 
    padding: 0.8em 0.5em 0.5em 1em; 
    border: 1px solid #ddd; 
    margin-bottom: 1em; 
  }

.centrar{
    align-self: center;
}
  
.boton-registrar-caja{
    max-width: 90%;
}

.pt-3{
    padding-top: 3em;
}

.customClass .confirmButton{
    background-color: #00a65a;
    color: white;
  }

.oculto{
	display: none;
}
.mostrar{
    display: block !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.espacio{
    padding-top: 4em;
    padding-bottom: 4em;
}


.pol1{
    justify-content: left !important;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
}

.linkDetalle { cursor: pointer; }

.mt-5{
    margin-top: 5em;
}

.encabezado-propietario{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.sidebar {
    display: block;
    padding: 0;
    display: none;
    box-shadow: none;
    background: #fff; }
  
  .sidebar ul {
    margin: 51px 0px 0px 0px; }
  
  @media (min-width: 768px) {
    .sidebar {
      display: block !important;
      visibility: visible !important;
      position: fixed;
      height: 100% !important; 
      width: 250px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      margin: 0;
      margin-top: 50px;
      padding: 0;
      overflow-x: hidden;
      overflow-y: auto; }
  
 }
      
  .sidebar ul.nav a:hover, .sidebar ul.nav li.parent ul li a:hover {
    text-decoration: none;
    background-color: #30a5ff;
    color: #fff; }
  
  .sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active, .sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover, .sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
    color: #fff;
    background-color: #30a5ff; }
  
  .sidebar ul.nav ul, .sidebar ul.nav ul li {
    list-style: none;
    list-style-type: none; }
  
  .sidebar ul.nav li a {
    height: 60px;
    font-size: 15px;
    line-height: 40px;
    color: #444444; }
  
  .sidebar ul.nav ul.children {
    width: auto;
    padding: 0;
    margin: 0;
    background: #f9f9f9; }
  
  .sidebar ul.nav ul.children li a {
    height: 50px;
    background: #f1f4f7;
    color: #444444; }
  
  .sidebar ul.nav li.current a {
    background-color: #30a5ff;
    color: #fff !important; }
  
  .sidebar ul.nav li.parent ul li a {
    border: none;
    display: block;
    padding-left: 30px;
    line-height: 50px;
    border-radius: 0; }
  
  .sidebar ul.nav li.divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0px 0; }